
@{
    ViewBag.Title = "Index";
    @Model List<Models.Privilegio> privilegios = (List<Models.Privilegio>)@ViewBag.Privilegios;
}

@section scripts{
    <script src="~/Scripts/Privilegio/index.js"></script>
}

<h4>lista de Privilegios</h4>


<table id="tabela-privilegios" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Privilegio</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var privilegio in privilegios)
        {
            <tr>
                <td>@privilegio.Id</td>
                <td>@privilegio.Nome</td>
                <td>
                    <a href="@Url.Action(/*actionName:*/ "Editar", /*controllerName:*/ "Privilegio" , /*routeValues:*/ new { id = privilegio.Id })">Editar</a>
                </td>
            </tr>
        }
    </tbody>
    <foot>
        <tr>
            <th>Codigo</th>
            <th>Privilegio</th>
            <th>Ação</th>
        </tr>
    </foot>
</table>

